<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="BrnAppName0" value="GelPakSorting"/>
    <add key="BrnAppName1" value="LivViewer"/>
    <add key="BrnAppName2" value="LIV2014-v1.3"/>
    <add key="BrnAppName3" value="LivViewerCompare"/>
    <add key="BrnAppName4" value="LoadBars"/>
    <add key="BrnAppName5" value="Inspection"/>
    <add key="BrnAppName6" value="ManageWCS"/>
    <add key="BrnAppName7" value="Secure*NTSorting"/>
    <add key="BrnAppName8" value="BarCheckIn"/>
    <add key="BrnAppName9" value="BarBIRank"/>
    <add key="BrnAppName10" value="DiodeBoxCount"/>
    <add key="BrnAppName11" value="ACStations"/>
    <add key="BrnAppName12" value="ACStationsDB"/>
    <add key="BrnAppName13" value="LIV Station"/>
    <add key="BrnAppName14" value="BC_Runner"/>
    <add key="BrnProcessName0" value="GelPak_Sorting"/>
    <add key="BrnProcessName1" value="LIV_Viewer"/>
    <add key="BrnProcessName2" value="LIV-2014"/>
    <add key="BrnProcessName3" value="LivViewerCompare"/>
    <add key="BrnProcessName4" value="LoadBars"/>
    <add key="BrnProcessName5" value="Visual_Inspection"/>
    <add key="BrnProcessName6" value="WC_Management"/>
    <add key="BrnProcessName7" value="NTSorting"/>
    <add key="BrnProcessName8" value="BarCheckIn"/>
    <add key="BrnProcessName9" value="BarBIRank"/>
    <add key="BrnProcessName10" value="Diode_Count"/>
    <add key="BrnProcessName11" value="ACStations"/>
    <add key="BrnProcessName12" value="ACStationsDB"/>
    <add key="BrnProcessName13" value="LIV Station"/>
    <add key="BrnProcessName14" value="BC_Runner"/>
    <add key="BrnDirPath" value="C:\BurninApps"/>
    <add key="BrnSourcePath" value="\\ipgpnas\Backups\BurninApps"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PkgAppName0" value="FACUnload"/>
    <add key="PkgAppName1" value="FACScrap"/>
    <add key="PkgAppName2" value="DiodeBoxCount"/>
    <add key="PkgAppName3" value="CheckIn_CheckOut"/>
    <add key="PkgAppName4" value="FACMoveDOP"/>
    <add key="PkgAppName5" value="OBScrap"/>
    <add key="PkgAppName6" value="ObjectiveLot"/>
    <add key="PkgAppName7" value="BenchScrap"/>
    <add key="PkgAppName8" value="TravApp"/>
    <add key="PkgAppName9" value="OperatorLabels"/>
    <add key="PkgAppName10" value="_AN_Marking_Oxford_1"/>
    <add key="PkgAppName11" value="_AN_Marking_Oxford_2"/>
    <add key="PkgAppName12" value="_AN_Marking_Oxford_3"/>
    <add key="PkgAppName13" value="_AN_Marking_Oxford_4"/>
    <add key="PkgAppName14" value="_AN_Marking_Oxford_5"/>
    <add key="PkgAppName15" value="FSVisualInspection"/>
    <add key="PkgAppName16" value="FSSorting"/>
    <add key="PkgAppName17" value="OP4"/>
    <add key="PkgAppName18" value="CreatePackage"/>
    <add key="PkgAppName19" value="BenchDiodeReplace"/>
    <add key="PkgAppName20" value="ZaberSoft"/>
    <add key="PkgAppName21" value="ZaberSoftClient"/>
    <add key="PkgAppName22" value="Inventory"/>
    <add key="PkgAppName23" value="BCCosSorting"/>
    <add key="PkgAppName24" value="LensTracing"/>
    <add key="PkgAppName25" value="MaterialFlow"/>
    <add key="PkgAppName26" value="ProductionAnalysis"/>
    <add key="PkgAppName27" value="MirrorStation"/>
    <add key="PkgAppName28" value="SAC Station"/>
    <add key="PkgAppName29" value="SAC Fail Viewer"/>
    <add key="PkgAppName30" value="Pre Package Reflow"/>
    <add key="PkgAppName31" value="Station Template"/>
    <add key="PkgAppName32" value="Ship Scan Station"/>
    <add key="PkgAppName33" value="VBG Station"/>
    <add key="PkgAppName34" value="FAC Lens Visual Inspection"/>
    <add key="PkgAppName35" value="Final Test Station"/>
    <add key="PkgAppName36" value="Auto Snout Station"/>
    <add key="PkgAppName37" value="PLD1 Test Station"/>
    <add key="PkgAppName38" value="Settings Analysis"/>
    <add key="PkgAppName39" value="Component Loading Station"/>
    <add key="PkgAppName40" value="Component Inspection"/>
    <add key="PkgAppName41" value="FAC Station"/>
    <add key="PkgAppName42" value="FtReports"/>
    <add key="PkgAppName43" value="Cognex Server"/>
    <add key="PkgProcessName0" value="FAC_Unload"/>
    <add key="PkgProcessName1" value="FAC_Scrap"/>
    <add key="PkgProcessName2" value="Diode_Count"/>
    <add key="PkgProcessName3" value="CheckIn_Out"/>
    <add key="PkgProcessName4" value="FACMoveDOP"/>
    <add key="PkgProcessName5" value="OBScrap"/>
    <add key="PkgProcessName6" value="ObjectiveLot"/>
    <add key="PkgProcessName7" value="BenchScrap"/>
    <add key="PkgProcessName8" value="Traveller"/>
    <add key="PkgProcessName9" value="OperatorLabels"/>
    <add key="PkgProcessName10" value="Laser_Marker_1"/>
    <add key="PkgProcessName11" value="Laser_Marker_2"/>
    <add key="PkgProcessName12" value="Laser_Marker_3"/>
    <add key="PkgProcessName13" value="Laser_Marker_4"/>
    <add key="PkgProcessName14" value="Laser_Marker_5"/>
    <add key="PkgProcessName15" value="FSVisualInspection"/>
    <add key="PkgProcessName16" value="FSSorting"/>
    <add key="PkgProcessName17" value="OP4"/>
    <add key="PkgProcessName18" value="CreatePackage"/>
    <add key="PkgProcessName19" value="DiodeReplace"/>
    <add key="PkgProcessName20" value="Zaber"/>
    <add key="PkgProcessName21" value="ZaberClient"/>
    <add key="PkgProcessName22" value="Inventory"/>
    <add key="PkgProcessName23" value="BCCosSorting"/>
    <add key="PkgProcessName24" value="LensTracing"/>
    <add key="PkgProcessName25" value="MaterialFlow"/>
    <add key="PkgProcessName26" value="Production Analysis"/>
    <add key="PkgProcessName27" value="Mirror Station"/>
    <add key="PkgProcessName28" value="SAC Station"/>
    <add key="PkgProcessName29" value="SAC Fail Viewer"/>
    <add key="PkgProcessName30" value="Pre Package Reflow"/>
    <add key="PkgProcessName31" value="Station Template"/>
    <add key="PkgProcessName32" value="Ship Scan Station"/>
    <add key="PkgProcessName33" value="VBG Station"/>
    <add key="PkgProcessName34" value="FAC Lens Visual Inspection"/>
    <add key="PkgProcessName35" value="Final Test Station"/>
    <add key="PkgProcessName36" value="Auto Snout Station"/>
    <add key="PkgProcessName37" value="PLD1 Test Station"/>
    <add key="PkgProcessName38" value="Settings Analysis"/>
    <add key="PkgProcessName39" value="Component Loading Station"/>
    <add key="PkgProcessName40" value="Component Inspection"/>
    <add key="PkgProcessName41" value="FAC Station"/>
    <add key="PkgProcessName42" value="FtReports"/>
    <add key="PkgProcessName43" value="Cognex Server"/>
    <add key="PkgDirPath" value="C:\PkgApps"/>
    <add key="PkgSourcePath" value="\\ipgpnas\Backups\PkgApps"/>
    <add key="AsmAppName0" value="DiodeBoxCount"/>
    <add key="AsmAppName1" value="BondingWIP"/>
    <add key="AsmAppName2" value="UnfailBarsBlocks"/>
    <add key="AsmAppName3" value="SubstrateTracking" />
    <add key="AsmAppName4" value="AQT Station" />
    <add key="AsmAppName5" value="AQT Calibration" />
    <add key="AsmAppName6" value="Diode Visual Inspection" />
    <add key="AsmAppName7" value="Scribing Station" />
    <add key="AsmAppName8" value="RD Test Station" />
    <add key="AsmAppName9" value="PrintLabelMrlb" />
    <add key="AsmAppName10" value="AutomatedHoopLoading" />
    <add key="AsmAppName11" value="Diode Inspection" />
    <add key="AsmProcessName0" value="Diode_Count"/>
    <add key="AsmProcessName1" value="BondingWIP"/>
    <add key="AsmProcessName2" value="UnfailBarsBlocks"/>
    <add key="AsmProcessName3" value="SubstrateTracking" />
    <add key="AsmProcessName4" value="AQT Station" />
    <add key="AsmProcessName5" value="AQT Calibration" />
    <add key="AsmProcessName6" value="Diode Visual Inspection" />
    <add key="AsmProcessName7" value="Scribing Station" />
    <add key="AsmProcessName8" value="RD Test Station" />
    <add key="AsmProcessName9" value="PrintLabelMrlb" />
    <add key="AsmProcessName10" value="AutoHoop" />
    <add key="AsmProcessName11" value="Diode Inspection" />
    <add key="AsmDirPath" value="C:\AsmApps"/>
    <add key="AsmSourcePath1" value="\\ipgpnas\Backups\AsmApps"/>
    <add key="AsmSourcePath2" value="\\ipgpnas\Departments\Laser_Diode\Public\Assembly\AsmApps"/>
    <add key="PrcAppName0" value="BarsBoxes"/>
    <add key="PrcAppName1" value="FCStacking"/>
    <add key="PrcAppName2" value="PzTraveler"/>
    <add key="PrcAppName3" value="ARMeasurements"/>
    <add key="PrcAppName4" value="Thorlabs camera"/>    
    <add key="PrcAppName5" value="PrintLabel"/>
    <add key="PrcProcessName0" value="BarsBoxes"/>
    <add key="PrcProcessName1" value="FCStacking"/>
    <add key="PrcProcessName2" value="PzTraveler"/>
    <add key="PrcProcessName3" value="ARMeasurements"/>
    <add key="PrcProcessName4" value="Thorlabs camera"/>
    <add key="PrcProcessName5" value="PrintLabel"/>
    <add key="PrcDirPath" value="C:\PrcApps"/>
    <add key="PrcSourcePath" value="\\ipgpnas\Backups\PrcApps"/>
    <!--<add key="FMAAppName0" value="FMAELI"/>
    <add key="FMAAppName1" value="FMAI"/>
    <add key="FMAAppName2" value="FMAVI"/>-->
    <add key="FMAAppName0" value="FMAVI-2017"/>
    <add key="FMAAppName1" value="FMAI_2017"/>
    <add key="FMAAppName2" value="FMAELI_2017"/>
    <!--<add key="FMAProcessName0" value="ELI"/>
    <add key="FMAProcessName1" value="Etch"/>
    <add key="FMAProcessName2" value="Visual"/>-->
    <add key="FMAProcessName0" value="Visual_2017"/>
    <add key="FMAProcessName1" value="Etch_2017"/>
    <add key="FMAProcessName2" value="ELI_2017"/>
    <add key="FMADirPath" value="C:\FMAApps"/>
    <add key="FMASourcePath" value="\\ipgpnas\Backups\FMAApps"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
